<div class="banner">
  <h1>Watch List</h1>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="card bg-dark text-white">
          <%= image_tag list.img_url %>
          <div class="card-img-overlay overlay">
            <h5 class="card-title text-center align-center"><%= link_to list.name, list_path(list.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
