<div class="background secondary">
  <%= render "shared/navbar" %>

  <form id="search-movies" class="form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Find movies">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
  </form>

  <div class="container text-center">
    <ul id="results" class="list-inline"></ul>
  </div>

</div>
