// Define variables for your color scheme
$purple: #560bad;
$dark-grey: rgb(20, 20, 20);
$pink: #e05284;
$light-grey: #6C757D;
$greeny-blue: #2f6f7b;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
