<div class="background secondary">
  <%= render "shared/navbar" %>

  <div class="container">

    <div id="search-bar" class="mt-4">
      <%= form_with url: search_list_path, method: :get do |f| %>
        <%= f.text_field :keyword, value: params[:keyword], autofocus: true %>
        <%= f.submit "Search", id: "search-btn" %>
      <% end %>
    </div>

    <div id="results">
    </div>

  </div>
</div>
