.list-card {
  border-radius: 8px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  background-size: cover;

  a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
}

.movie-card {
  background-color: white;
  display: flex;
  width: 720px;
  margin: 0 auto;
  border-radius: 2px;

  .text-right {
    color: $light-grey;
  }

  img {
    object-fit: cover;
    max-width: 200px;
  }

  .movie-card-body {
    padding: 16px;
    font-size: 14px;
    position: relative;
  }

  .fa-quote-left, .fa-trash-alt {
    color: rgba(0,0,0,0.7)
  }

  .fa-trash-alt {
    font-size: 24px;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
