.link, .link:hover {
  text-decoration: none;
}

.list-card {
  border-radius: 8px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  background-size: cover;
  background-position: center center;
  transition: ease-in-out 5s;

  h5, a {
    color: white;
    font-size: 24px;
  }

  &:hover {
    background-size: 200%;

    h5 {
      font-size: 32px;
    }
  }
}

.card {
  position: relative;

  .fa-quote-left, .fa-trash-alt {
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .fa-trash-alt {
    font-size: 24px;
  }

  max-width: 300px;
}
