.list-card {
  border-radius: 8px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  background-size: cover;

  a {
    color: white;
    font-size: 24px;
  }
}

.movie-card {
  background-color: white;
  display: flex;

  img {
    object-fit: cover;
    max-width: 200px;
  }

  .movie-card-body {
    padding: 16px;
  }
}
